<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.hencoderpractice">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestActivity" />
        <activity
            android:name=".practice.practicedraw1.PracticeDraw1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedraw2.PracticeDraw2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedraw3.PracticeDraw3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedraw4.PracticeDraw4Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedraw5.PracticeDraw5Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedraw6.PracticeDraw6Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedraw7.PracticeDraw7Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".practice.practicedlayout1.PracticeLayout1Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".game.SudokuActivity" />
        <activity android:name=".game.SudokuEditActivity"></activity>
    </application>

</manifest>